<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Video</title>
      <!-- ionic Links -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css" />

  <style>
    .colo{
      color:red;
    }
  </style>
</head>
<body>
  <ion-app>
    <ion-toolbar>
      <ion-title>
       <p> <b style="font-weight: bold; color: #bd1f2e;">DRONE</b>TRIBES</p>
      </ion-title>
    </ion-toolbar>

    <ion-tabs>

      <!-- Home Tab -->
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home"   id="homeTab">
          <ion-icon name="home"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>

        <!-- Location Tab -->
       
       <ion-tab-button tab="location" id="locationTab">
          <ion-icon name="location"></ion-icon>
          <ion-label>Location</ion-label>
        </ion-tab-button>

        <!-- Service Tab -->
       
        <ion-tab-button tab="camera" id="cameraTab">
          <ion-icon name="camera"></ion-icon>
          <ion-label>Live<br>(Power Guard)</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="charset"id="charsetTab" >
          <ion-icon name="stats-chart-outline"></ion-icon>
          <ion-label>Analytics</ion-label>
        </ion-tab-button>
      </ion-tab-bar>


      <!-- Home Tab Content -->
      <ion-tab tab="home">
        <ion-router-outlet name="home">
          <!-- Add ion-card content for the home tab -->
          <ion-card class="custom-card">
            <!-- Your card content goes here -->
            <ion-card-header class="custom-card-header">
              <ion-card-title class="custom-card-title1">DRONETRIBES</ion-card-title>
            </ion-card-header>
            <ion-card-content class="custom-card-content">
              <!-- Additional content for the home tab card -->
            </ion-card-content>
          </ion-card>
          
      

          <Ion-Card>
             <Ion-Card-Header>
              <Ion-Card-Title>Live Streaming</Ion-Card-Title>
              <Ion-Card-Subtitle class="colo">*Live:(Power Guard)</Ion-Card-Subtitle>
            </Ion-Card-Header>
            <img src="{{ url_for('webapp') }}"   alt="Upload video">

            <ion-card-content class="md card-content-md hydrated">
              {% if last_crack_detection %}
                <h3>Class Name: {{ last_crack_detection[0] }}</h3>
                <p>Timestamp: {{ last_crack_detection[1] }}</p>
              {% else %}
                <p>No crack detections found.</p>
              {% endif %}
            </ion-card-content>
          </Ion-Card>
        </ion-card-content>
     
          </Ion-Card>
          

        </ion-router-outlet>
      </ion-tab>

      <!-- Location Tab Content -->
      <ion-tab tab="location">
        <ion-router-outlet name="location"></ion-router-outlet>
      </ion-tab>


      <!-- Dashboard Tab Content -->
      <ion-tab tab="camera">
        <ion-router-outlet name="camera"></ion-router-outlet>
      </ion-tab>

      <ion-tab tab="charset">
        <ion-router-outlet name="charset"></ion-router-outlet>
      </ion-tab>
    </ion-tabs>
  </ion-app>


  <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
  <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
  <script type="module" src="https://cdn.jsdelivr.net/npm/ionicons/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://cdn.jsdelivr.net/npm/ionicons/dist/ionicons/ionicons.js"></script>

  <script>
    document.getElementById('homeTab').addEventListener('click', function() {
      window.location.href = '/home';
    });
    document.getElementById('locationTab').addEventListener('click', function() {
      window.location.href = '/FrontPage';
    });
    document.getElementById('cameraTab').addEventListener('click', function() {
      window.location.href = '/webcam';
    });
    document.getElementById('charsetTab').addEventListener('click', function() {
      window.location.href = '/chart';
    });


    
 // Add the following code to make the "Live" tab active by default
 document.addEventListener('DOMContentLoaded', function() {
  document.getElementById('cameraTab').setAttribute('aria-selected', 'true');
});
3



</script>





</body>
</html>
