
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Video</title>
      <!-- ionic Links -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css" />

</head>
<body>
  <ion-app>

    <ion-header class="ion-no-border">
      <ion-toolbar>
        <ion-title>
         <p> <b style="font-weight: bold; color: #bd1f2e;">DRONE</b>TRIBES</p>
        </ion-title>
      </ion-toolbar>
      </ion-header>

      <ion-card color="dark">
        <ion-card-header>
          <ion-card-title>Location</ion-card-title>
          <ion-card-subtitle>Google Map</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          <!-- Add the iframe here -->
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3908.9691540888566!2d78.0190263!3d11.554069000000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3babe40754d8480f%3A0x4bf024dfe3e621ec!2sKnowledge%20Institute%20of%20Technology%20(KIOT)!5e0!3m2!1sen!2sin!4v1702552547410!5m2!1sen!2sin" width="500" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </ion-card-content>
        
      </ion-card>
      

  <br>
  <ion-tabs id="myTabs">
      

      <!-- Home Tab -->
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home"   id="homeTab">
          <ion-icon name="home"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>

        <!-- Location Tab -->
       
       <ion-tab-button tab="location" id="locationTab">
          <ion-icon name="location"></ion-icon>
          <ion-label>Location</ion-label>
        </ion-tab-button>

        <!-- Service Tab -->
       
        <ion-tab-button tab="camera"id="cameraTab" >
          <ion-icon name="camera"></ion-icon>
          <ion-label>Live</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="charset"id="charsetTab" >
          <ion-icon name="stats-chart-outline"></ion-icon>
          <ion-label>Analytics</ion-label>
        </ion-tab-button>
      </ion-tab-bar>


      <!-- Home Tab Content -->
      <ion-tab tab="home">
        <ion-router-outlet name="home">
        
          

        </ion-router-outlet>
      </ion-tab>

      <!-- Location Tab Content -->
      <ion-tab tab="location">
        <ion-router-outlet name="location"></ion-router-outlet>
      </ion-tab>


      <!-- Dashboard Tab Content -->
      <ion-tab tab="camera">
        <ion-router-outlet name="camera"></ion-router-outlet>
      </ion-tab>

      <ion-tab tab="charset">
        <ion-router-outlet name="charset"></ion-router-outlet>
      </ion-tab>
    </ion-tabs>
  </ion-app>


  <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
  <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
  <script type="module" src="https://cdn.jsdelivr.net/npm/ionicons/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://cdn.jsdelivr.net/npm/ionicons/dist/ionicons/ionicons.js"></script>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const tabs = document.getElementById('myTabs');
  
      const homeTab = document.getElementById('homeTab');
      const locationTab = document.getElementById('locationTab');
      const cameraTab = document.getElementById('cameraTab');
      const charsetTab = document.getElementById('charsetTab');
  
      homeTab.addEventListener('click', function() {
        // Use select method to set the "home" tab as active
        tabs.select('home');
        window.location.href = '/home';
      });
  
      locationTab.addEventListener('click', function() {
        // Use select method to set the "location" tab as active
        tabs.select('location');
        window.location.href = '/FrontPage';
      });
  
      cameraTab.addEventListener('click', function() {
        // Use select method to set the "camera" tab as active
        tabs.select('camera');
        window.location.href = '/webcam';
      });
  
      charsetTab.addEventListener('click', function() {
        // Use select method to set the "camera" tab as active
        tabs.select('charset');
        window.location.href = '/chart';
      });
      // Set the default active tab
      tabs.select('location');
    });
  </script>
  

    


</body>
</html>
